@tailwind base;
@tailwind components;
@tailwind utilities;
label,
.general-form-label {
  font-size: medium;
  font-weight: 500;
  color: #111011;
  margin: 0;
  padding: 0;
}

.date-time-picker-container .MuiStack-root {
  padding: 0;
}

.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.required-icon {
  color: red;
}

.MuiTabs-flexContainerVertical {
  height: 100%;
}
.MuiTabs-flexContainerVertical button {
  flex: 1;
}

.nav-item {
  margin-top: 12px;
  font-size: large;
}
.nav-item:hover {
  cursor: pointer;
}

.MuiSelect-select {
  padding: 0;
}

#side-navbar .MuiTabs-indicator {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

#time-span-select ~ fieldset {
  border: none !important;
}

#side-navigation-tabs .side-nav-tab {
  color: #898989 !important;
  align-items: start;
}
#side-navigation-tabs .MuiTabs-indicator {
  background-color: #f6f7ed;
}
#side-navigation-tabs .Mui-selected {
  color: #fff !important;
}

.reports-container fieldset {
  border: 0;
}

.side-nav-tabs-continer .MuiTabs-flexContainerVertical {
  @media only screen and (max-width: 767px) {
    flex-direction: row !important;
  }
}
.money-container {
  @media only screen and (min-width: 767px) and (max-width: 1000px) {
    display: none;
  }
}
.expense-category-label {
  padding: 5px 7px;
  background-color: #101010;
  color: #fff;
  border-radius: 10px;
  font-size: x-small;
}

.learning {
  background-color: #4caf50;
}
.food {
  background-color: #ffc107;
}
.cloth {
  background-color: #2196f3;
}
.family {
  background-color: #ff5722;
}
.gadgets {
  background-color: #deb887;
}
.home {
  background-color: #ff9800;
}
.charity {
  background-color: #e91e63;
}
.travel {
  background-color: #607d8b;
}
.other {
  background-color: #9e9e9e;
}
.Toastify__toast {
  width: 650px;
  right: auto;
  left: auto;
  min-width: 350px;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 90vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 90vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #101010;
  }
}
