@tailwind base;
@tailwind components;
@tailwind utilities;

label,
.general-form-label {
  font-size: medium;
  font-weight: 500;
  color: #111011;
  margin: 0;
  padding: 0;
}

.date-time-picker-container .MuiStack-root {
  padding: 0;
}

.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.required-icon {
  color: red;
}

.MuiTabs-flexContainerVertical {
  height: 100%;
}
.MuiTabs-flexContainerVertical button {
  flex: 1;
}
