@tailwind base;
@tailwind components;
@tailwind utilities;
label,
.general-form-label {
  font-size: medium;
  font-weight: 500;
  color: #111011;
  margin: 0;
  padding: 0;
}

.date-time-picker-container .MuiStack-root {
  padding: 0;
}

.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.required-icon {
  color: red;
}

.MuiTabs-flexContainerVertical {
  height: 100%;
}
.MuiTabs-flexContainerVertical button {
  flex: 1;
}

.nav-item {
  margin-top: 12px;
  font-size: large;
}
.nav-item:hover {
  cursor: pointer;
}

.MuiSelect-select {
  padding: 0;
}

#time-span-select ~ fieldset {
  border: none !important;
}

#side-navigation-tabs .side-nav-tab {
  color: #898989 !important;
  align-items: start;
}
#side-navigation-tabs .MuiTabs-indicator {
  background-color: #f6f7ed;
}
#side-navigation-tabs .Mui-selected {
  color: #fff !important;
}
.expense-category-label {
  padding: 5px 7px;
  background-color: #101010;
  color: #fff;
  border-radius: 10px;
  font-size: x-small;
}
.learning {
  background-color: blue;
}
.food {
  background-color: green;
}
.cloth {
  background-color: yellow;
}
.family {
  background-color: blueviolet;
}
.gadgets {
  background-color: burlywood;
}
.home {
  background-color: skyblue;
}
.charity {
  background-color: purple;
}
.travel {
  background-color: maroon;
}
.other {
  background-color: red;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 90vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 90vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #101010;
  }
}
